{
  "presets": ["@babel/preset-env"],
  "plugins": [
    [
      "module-resolver",
      {
        "root": ["./"],
        "alias": {
          "@": "./dist",
          "@utils": "./dist/utils"
        }
      }
    ]
  ]
}
