{
  "presets": ["@babel/preset-env"],
  "plugins": [
    [
      "module-resolver",
      {
        "root": ["./"],
        "alias": {
          "@": "./dist",
          "@models": "./dist/models",
          "@controllers": "./dist/controllers",
          "@routes": "./dist/routes",
          "@middlewares": "./dist/middlewares",
          "@validators": "./dist/middlewares/validators",
          "@utils": "./dist/utils",
          "@constant": "./dist/constant"
        }
      }
    ]
  ]
}
