{
  "presets": [
    [
      "@babel/preset-env",
      {
        "exclude": ["transform-regenerator"],
        "targets": {
          "node": 12
        }
      }
    ]
  ],
  "plugins": [
    "@babel/plugin-proposal-class-properties",
    [
      "module-resolver",
      {
        "root": ["./src"]
      }
    ]
  ]
}
